html, body, #app{
    height: 100%;
}
.navbar-laravel {
    border-top: 3px solid #3399cc;
}

.youxin-navbar {

}

.youxin-navbar>.navbar-nav>li {
    padding-left: 2rem;
    padding-right: 2rem;
    border-right: 1px solid #e0e0e0;
}
.youxin-navbar>.navbar-nav>li:last-child {
    border-right: none;
}
.youxin-navbar>.navbar-nav>li>a {
    padding: 0;
}

.footer-block {
    color: #fff;
    background-color: #000;
}

.img-card {
    margin-bottom: 3rem;
}

.index-block {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.index-block h2 {
    margin-bottom: 2rem;
}

.footer-block {
    font-family: sans-serif;
    padding: 2rem;
}
